<div class="container mt-5">
    <form [formGroup]="form" class="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">Prénom:</label>
                    <input type="text" pInputText formControlName="firstName" id="firstName" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')">Le prénom est obligatoire</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Nom :</label>
                    <input type="text" pInputText formControlName="lastName" id="lastName" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">Le nom de famille est obligatoire</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" pInputText formControlName="email" id="email" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">L’adresse e-mail est obligatoire</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">Adresse :</label>
                    <input type="text" pInputText formControlName="address" id="address" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('address')?.touched && form.get('address')?.hasError('required')">L’adresse est obligatoire</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Numéro de téléphone: </label>
                    <input type="tel" pInputText formControlName="phone" id="phone" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('phone')?.touched && form.get('phone')?.hasError('required')">Le numéro de téléphone est requis</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectId">Nom du projet :</label>
                    <select formControlName="projectId" id="projectId" class="form-control" required>
                        <option *ngFor="let project of project" [value]="project.id">{{ project.projectName }}</option>
                    </select>
                    <small class="p-error" *ngIf="form.get('projectId')?.touched && form.get('projectId')?.hasError('required')">Le projet est requis.</small>
                </div>
            </div>
        </div>
    </form>
</div>
