/* prime-form.component.css */

.container {
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .card {
    margin-top: 20px;
  }
  
  /* Customize PrimeNG button */
  .custom-save-button {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style for error messages */
  .p-error {
    color: red;
  }
  
  /* Style for success messages */
  .p-success {
    color: green;
  }
  
  /* Style for form inputs */
  .form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  /* Style for form select elements */
  .form-select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  /* Style for form submit button */
  .form-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for success and error messages */
  .message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  :host >>> .p-dropdown {
    width: 100%;
    height: 60px;
    text-align: left;
    border-radius: 6px;
    margin-bottom: 30px;
    color: var(--gris-1-dbarras, #7b777f);
    font-family: Lexend Deca;
    font-size: 100px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
    background: transparent;
    position: relative;
  }
  :host >>> .p-calendar {
    width: 100%;
    height: 60px;
    text-align: left;
    border-radius: 6px;
    margin-bottom: 30px;
    color: var(--gris-1-dbarras, #7b777f);
    font-family: Lexend Deca;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
    background: transparent;
    position: relative;
  }