<p-dialog header="Modifier une categorie" [(visible)]="displayEditDialog" [modal]="true" [style]="{ 'width': '400px' }" (onHide)="hideDialog()">
  <form [formGroup]="form" class="form">
    <div class="form-group">
      <label for="libele">Libellé</label>
      <input id="libele" type="text" pInputText formControlName="libele" class="form-control" />
      <div *ngIf="form.controls['libele'].invalid && (form.controls['libele'].dirty || form.controls['libele'].touched)" class="invalid-feedback">
        <div class="p-error" *ngIf="form.get('libele').invalid && form.get('libele').touched">
          Libellé est obligatoire
        </div>
      </div>
    </div>
    <div class="form-group">
      <button pButton type="button" label="Enregistrer" class="btn btn-primary mr-2" (click)="save()"></button>
    </div>
  </form>
</p-dialog>
