.hidden-template {
  display: none;
}

.visible-template {
  display: block;
}

:host >>> .p-button {
  margin-bottom: 1%;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.table-container p-table {
  padding: 20px;
}
.center-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
