<div class="table-container">
  <h1 class="gradient-text">Liste des congés</h1>

  <div class=" flex justify-content-center" style="display: flex; justify-content: flex-end;">
    <button pButton [pTooltip]="tooltipContent" tooltipPosition="bottom" label="+" routerLink="/conges/add"></button>
    <ng-template #tooltipContent>
        <div class="flex align-items-center">
            <span><b>Ajouter un Congé</b></span>
        </div>
    </ng-template>
</div>

  <p-table #dt [value]="conges" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading" [paginator]="true" currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
    [globalFilterFields]="['startDate', 'endDate', 'state', 'contactId']" [tableStyle]="{ 'min-width': '75rem' }">

    <ng-template pTemplate="header">
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>État</th>
        <th>Contact ID</th>
        <th>Actions</th>
      </tr>
      <tr>
        <th>
            <p-columnFilter type="text" field="startDate"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="endDate"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="state"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="contactId"></p-columnFilter>
        </th>

        <th></th>
    </tr>
    </ng-template>

    <ng-template pTemplate="body" let-conge>
      <tr>
        <td>{{ conge.startDate }}</td>
        <td>{{ conge.endDate }}</td>
        <td>{{ conge.state }}</td>
        <td>{{ conge.contactId }}</td>
        <td>
          <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editItem(conge)"></i>
          <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(conge.congeId)"></i>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Aucun congé n’a été trouvé.</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="caption">
      <div class="flex justify-content-end align-items-center">
        <div class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input #searchInput pInputText type="text" (input)="dt.filterGlobal(searchInput.value, 'contains')"
            placeholder="Mot-clé de recherche" style="width: 400px;" />
        </div>
      </div>
    </ng-template>
  </p-table>

  <p-confirmDialog header="Confirmation de suppression" icon="pi pi-info-circle"
    acceptButtonStyleClass="p-button-danger p-button-text" rejectButtonStyleClass="p-button-text p-button-text"
    acceptIcon="none" rejectIcon="none">
  </p-confirmDialog>

  <p-toast></p-toast>
</div>

<app-edit-conge [displayDialog]="displayDialog" [selectedConge]="selectedConge" [stateOptions]="stateOptions"
  (onSave)="saveConge()" (onHide)="hideDialog()"></app-edit-conge>

