
<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="save()" class="form">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-7">
      <li>
        <a class="text-500 no-underline line-height-3 cursor-pointer" [routerLink]="['/']" style="font-size: 1.3em;">
            <i class="fa-solid fa-house" style="font-size: 1.3em;padding-right: 3px;"></i>
            Espace Rh
        </a>
    </li>
        <li class="px-2" style="font-size: 1.5em;">
            <i class="pi pi-angle-right text-500 line-height-3" style="font-size: 1.1em;"></i>
        </li>
        <li>
           <a [routerLink]="['/publicholiday/list']"><span class="text-500 line-height-3 " style="font-size: 1.3em;">Jours Feriés</span></a>
        </li>
        <li class="px-2" style="font-size: 1.5em;">
          <i class="pi pi-angle-right text-500 line-height-3" style="font-size: 1.1em;"></i>
      </li>
        <li>
               &nbsp;<a [routerLink]="['/publicholiday/add']"><span class="text-blue-400 line-height-3 " style="font-size: 1.3em;">+ Ajouter </span></a>
       </li>
    </ul>
    <div class="row">
      <div class="col-md-6">
        <div class="p-field">
          <label for="jour"class="input-label"><i class="fas fa-calendar-alt"></i>Jour :</label>
          <input type="number" pInputText formControlName="jour" id="jour" class="p-inputtext" />
          <small class="p-error" *ngIf="form.get('jour')?.touched && form.get('jour')?.hasError('required')">Le jour est obligatoire</small>
          <small class="p-error" *ngIf="form.get('jour').hasError('min') || form.get('jour').hasError('max')">Jour doit être entre 31 et 1</small>
        </div>
      </div>

      <div class="col-md-6">
        <div class="p-field">
          <label for="mois"class="input-label"><i class="fas fa-calendar-alt"></i>Mois :</label>
          <input type="number" pInputText formControlName="mois" id="mois" class="p-inputtext" />
          <small class="p-error" *ngIf="form.get('mois')?.touched && form.get('mois')?.hasError('required')">Mois est obligatoire</small>
          <small class="p-error" *ngIf="form.get('mois').hasError('min') || form.get('mois').hasError('max')">Mois doit être entre 12 et 1</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="p-field">
          <label for="libele"class="input-label"><i class="fas fa-id-badge" ></i>Libellé :</label>
          <input type="text" pInputText formControlName="libele" id="libele" class="p-inputtext" />
          <small class="p-error" *ngIf="form.get('libele')?.touched && form.get('libele')?.hasError('required')">Libellé est obligatoire</small>
        </div>
      </div>

      <div class="col-md-6">
        <div class="p-field">
          <label for="annee"class="input-label"><i class="fas fa-calendar-alt"></i>Année :</label>
          <p-dropdown [options]="anneeOptions" formControlName="anneeId" id="annee" optionLabel="libele" optionValue="id"></p-dropdown>
          <small class="p-error" *ngIf="form.get('anneeId')?.touched && form.get('anneeId')?.hasError('required')">L'année est obligatoire</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- Placeholder for future fields -->
      </div>

      <div class="col-md-6">
        <!-- Placeholder for future fields -->
      </div>
    </div>

    <div class="p-field">
      <p-button type="submit" label="Enregistrer" class="p-button-raised p-button-success"></p-button>
    </div>

  </form>
</div>
