.form {
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .col-md-4 {
    flex: 1 1 33.33%; 
    max-width: 33.33%; 
  }
  .form-group {
    display: grid;
  }
 
  /* Styles pour les cartes personnalisées */
  .card {
      border: 1px solid #fffefe; /* Bordure grise */
      border-radius: 5px; /* Coins arrondis */
      padding: 10px; /* Espacement interne */
      margin-bottom: 10px; /* Marge en bas */
      background-color: #ffffff; /* Couleur de fond grise */
  }

  .card label {
      font-weight: bold; /* Texte en gras */
  }


 
  /* Utilisation de grid pour la mise en page */
  .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
      grid-gap: 10px; /* Espacement entre les cartes */
  }

  /* Styles pour les cartes personnalisées */
  .card {
      border: 1px solid #fffafa; /* Bordure grise */
      border-radius: 5px; /* Coins arrondis */
      padding: 10px; /* Espacement interne */
      background-color: #ffffff; /* Couleur de fond grise */
  }

  .card label {
      font-weight: bold; /* Texte en gras */
  }

