.container {
    display: flex;
    justify-content: center;
    /* align-items: center;
    height: 100vh; Ensures the form is vertically centered */
  }
.form {
    background-color: #fff;
    padding: 50px 25px;
    border-radius: 10px;
    width: 100%; /* Ensure form takes full width */
    max-width: 600px; /* Adjust max-width as needed */
    margin-top: 50px; /* Add margin to separate from top */
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-md-6 {
    flex: 1 1 calc(50% - 20px); /* Adjust column width with gap */
    max-width: calc(50% - 20px); /* Adjust max-width with gap */
}

button {
    margin-top: 20px;
    width: 100%; /* Ensure button takes full width */
    max-width: 200px; /* Adjust max-width as needed */
}

label {
    margin-bottom: 10px;
    font-weight: 500;
    flex-basis: 100%; /* Ensure label takes full width */
}
.input-label{
    font-weight: bold;
  }
  .input-label i {
    color: rgb(28, 143, 238);
    margin-right: 5px;
    font-weight: bold;
    
  }
.p-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.list-none {
    list-style: none;
}

.p-button {
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
}
.messages-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's on top of other elements */
  }