<div class="container mt-5">
    <form [formGroup]="form" class="form">
        
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <p-calendar formControlName="startDate" id="startDate" class="form-control" [showIcon]="true" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar>
            <small class="p-error" *ngIf="form.get('startDate')?.touched && form.get('startDate')?.hasError('required')">Start date is required</small>
        </div>

        <div class="form-group">
            <label for="endDate">End Date:</label>
            <p-calendar formControlName="endDate" id="endDate" class="form-control" [showIcon]="true" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar>
            <small class="p-error" *ngIf="form.get('endDate')?.touched && form.get('endDate')?.hasError('required')">End date is required</small>
        </div>

        <div class="text-right">
            <button type="button" pButton class="btn btn-primary mt-3" (click)="submitAutorisationRequest()" label="Submit"></button>
        </div>
    </form>
</div>

<div class="messages-container">
    <div class="card">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    </div>
</div>
