<div class="container mt-5">
    <form [formGroup]="form" class="form">
        <div class="row">
            

            <div class="col-md-6">
                <div class="form-group">
                    <label for="contact">Employé :</label>
                    <p-multiSelect [options]="contactOptions" formControlName="contact" [showClear]="true" placeholder="Select Contacts"></p-multiSelect>
                    <small class="p-error" *ngIf="form.get('contact')?.touched && form.get('contact')?.hasError('required')">Au moins un employé est requis</small>
                </div>
            </div>
            

            <div class="col-md-6">
                <div class="form-group">
                    <label for="year">Année :</label>
                    <p-dropdown [options]="anneeOptions" formControlName="year" id="year" optionLabel="libele" optionValue="id" placeholder="Selectionner une année"></p-dropdown>
                    <small class="p-error" *ngIf="form.get('anneeId')?.touched && form.get('anneeId')?.hasError('required')">L'année est obligatoire</small>
                  </div>
            </div>
            

            <div class="col-md-6">
                <div class="form-group">
                    <label for="month">Mois :</label>
                    <p-calendar formControlName="month" id="month" [monthNavigator]="true"  [yearNavigator]="false" dateFormat="mm" [showIcon]="true"></p-calendar>
                    <small class="p-error" *ngIf="form.get('month')?.touched && form.get('month')?.hasError('required')">Le mois est requis</small>
                </div>
            </div>
            

            <div class="col-md-6">
                <div class="form-group">
                    <label for="montant">Montant :</label>
                    <input type="number" pInputText formControlName="montant" id="montant" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('montant')?.touched && form.get('montant')?.hasError('required')">Le montant est requis</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="motif">Raison:</label>
                    <input type="text" pInputText formControlName="motif" id="motif" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('motif')?.touched && form.get('motif')?.hasError('required')">La raison est requise</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="typePrimeId">Type primes:</label>
                    <p-dropdown [options]="typePrimes" formControlName="typePrime" [showClear]="true" placeholder="Select a type prime"></p-dropdown>
                    <small class="p-error" *ngIf="form.get('typePrimeId')?.touched && form.get('typePrimeId')?.hasError('required')">The type prime is required</small>
                </div>
            </div>

        </div>
    </form>
</div>