<div class="container mt-5">
    <form [formGroup]="form" class="form">
        <div class="row">

    
            <div class="col-md-6">
                <div class="form-group">
                    <label for="year">Année :</label>
                    <p-dropdown [options]="anneeOptions" formControlName="year" id="year" optionLabel="libele" optionValue="id" placeholder="Selectionner une année"></p-dropdown>
                    <small class="p-error" *ngIf="form.get('anneeId')?.touched && form.get('anneeId')?.hasError('required')">L'année est requise</small>
                  </div>
            </div>
            

            <div class="col-md-6">
                <div class="form-group">
                  <label for="month">Mois :</label>
                  <p-dropdown formControlName="month" id="month" [options]="months" placeholder="Sélectionner un mois"></p-dropdown>
                  <small class="p-error" *ngIf="form.get('month')?.touched && form.get('month')?.hasError('required')">Le mois est requis</small>
                </div>
              </div>
            

            <div class="col-md-6">
                <div class="form-group">
                    <label for="montant">Montant :</label>
                    <input type="number" pInputText formControlName="montant" id="montant" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('montant')?.touched && form.get('montant')?.hasError('required')">Le montant est requis</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="motif">Raison :</label>
                    <input type="text" pInputText formControlName="motif" id="motif" class="form-control"/>
                    <small class="p-error" *ngIf="form.get('motif')?.touched && form.get('motif')?.hasError('required')">La raison est requise</small>
                </div>
            </div>
    

            <div class="col-md-6">
                <div class="form-group">
                    <label for="contactId">Employé :</label>
                    <p-multiSelect [options]="employeeOptions" formControlName="contactId" [showClear]="true" placeholder="Selectionner un employé"></p-multiSelect>
                    <small class="p-error" *ngIf="form.get('contactId')?.touched && form.get('contactId')?.hasError('required')">L'employé est requis</small>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                  <label for="category">Catégorie :</label>
                  <p-dropdown [options]="categoryOptions" formControlName="category" [showClear]="true" placeholder="Sélectionner une Catégorie"class="form-control"></p-dropdown>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group">
                    <label for="groupe">Groupe :</label>
                    <p-dropdown [options]="groupeOptions" formControlName="groupe" id="groupe" [showClear]="true" placeholder="Selectionner un groupe" class="form-control"></p-dropdown>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                  <label for="grade">Grade :</label>
                  <p-dropdown [options]="gradeOptions" formControlName="grade" id="grade" [showClear]="true" placeholder="Sélectionner une grade " class="form-control"></p-dropdown>
                </div>
              </div>

              
              <div class="col-md-6">
                <div class="form-group">
                    <label for="typePrimeId">Type primes:</label>
                    <p-dropdown [options]="typePrimes" formControlName="typePrimeId" [showClear]="true" placeholder="Select a type prime"></p-dropdown>
                </div>
            </div>

        </div>
    </form>
</div>