
<div *ngIf="publicHoliday" class="p-fluid">
    <form [formGroup]="form" (ngSubmit)="save()" >
      <div class="p-field">
        <label for="jour">Jour :</label>
        <input id="jour" type="number" pInputText formControlName="jour" class="p-inputtext" />
        <div *ngIf="form.controls['jour'].invalid && (form.controls['jour'].dirty || form.controls['jour'].touched)" class="invalid-feedback">
          <div *ngIf="form.controls['jour'].hasError('required')">L jour est obligatoire</div>
          <div *ngIf="form.controls['jour'].hasError('min') || form.controls['jour'].hasError('max')">Jour doit etre entre 1 et 31</div>
        </div>
      </div>
      <div class="p-field">
        <label for="mois">Mois :</label>
        <input id="mois" type="number" pInputText formControlName="mois" class="p-inputtext" />
        <div *ngIf="form.controls['mois'].invalid && (form.controls['mois'].dirty || form.controls['mois'].touched)" class="invalid-feedback">
          <div *ngIf="form.controls['mois'].hasError('required')">Le mois est obligatoire</div>
          <div *ngIf="form.controls['mois'].hasError('min') || form.controls['mois'].hasError('max')">Mois doit etre entre 1 et 12</div>
        </div>
      </div>
      <div class="p-field">
        <label for="libele">Libellé :</label>
        <input id="libele" type="text" pInputText formControlName="libele" class="p-inputtext" />
        <div *ngIf="form.controls['libele'].invalid && (form.controls['libele'].dirty || form.controls['libele'].touched)" class="invalid-feedback">
          <div *ngIf="form.controls['libele'].hasError('required')">Libellé est obligatoire</div>
        </div>
      </div>
      <div class="p-field">
        <label for="anneeId">Année :</label>
        <p-dropdown [options]="anneeOptions" formControlName="anneeId" id="annee" optionLabel="libele" optionValue="id"></p-dropdown>
        <div *ngIf="form.controls['anneeId'].invalid && (form.controls['anneeId'].dirty || form.controls['anneeId'].touched)" class="invalid-feedback">
          <div *ngIf="form.controls['anneeId'].hasError('required')">L'année est obligatoire</div>
        </div>
      </div>
      <div class="p-field">
        <button type="submit" pButton class="btn btn-primary mr-2">Enregistrer</button>
      </div>
    </form>
  </div>
  