.p-field {
    margin-bottom: 20px;
  }
  .edit{
    max-width: 50px !important;

  }
  .p-error {
    color: red;
  }
  .p-fluid{
    width: 200px !important;
    max-width: 200px  !important;
  }
  .p-dialog-content {
    width: 250px !important; 
  }
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  