<form [formGroup]="form" class="form">
  <div class="form-group">
    <label for="dateDebutExercice">Date Début Exercice:</label>
    <p-calendar formControlName="dateDebutExercice" id="dateDebutExercice" class="form-control" dateFormat="dd/mm/yy"></p-calendar>
    <small class="p-error" *ngIf="form.get('dateDebutExercice')?.touched && form.get('dateDebutExercice')?.hasError('required')">Date Début Exercice est requise</small>
  </div>

  <div class="form-group">
    <label for="libele">Libellé:</label>
    <input type="text" formControlName="libele" id="libele" class="form-control"/>
    <small class="p-error" *ngIf="form.get('libele')?.touched && form.get('libele')?.hasError('required')">Libellé est requis</small>
  </div>
</form>
