<p-dialog header="Edit Finance Configuration" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '80%', 'max-width': '600px' }">
  <ng-container *ngIf="displayDialog">
    <div class="container">
      <h1 class="gradient-text">Edit Finance Configuration</h1>
    </div>

    <app-finance-configuration-form [formGroup]="formFinance"></app-finance-configuration-form>
    
    <div class="buttons">
      <button type="button" class="p-button p-button-success custom-save-button btn-save" (click)="save()">Save</button>
    </div>

    <div class="card">
      <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    </div>
  </ng-container>
</p-dialog>
