<div class="surface-section border-round px-4 py-5 md:px-6 lg:px-8 mb-4 ">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <a class="text-500 no-underline line-height-3 cursor-pointer" [routerLink]="['/employee/details']">
            <i class="pi pi-home mr-0"></i> <!-- Ajoutez cette ligne pour l'icône de maison -->
            Application
        </a>
    </li>
    
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
           <a [routerLink]="['/employee/details']"> <span class="text-900 line-height-3"><i class="pi pi-ticket"></i> Primes</span></a>
        </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">Employees</div>
            <div class="flex align-items-center text-700 flex-wrap">
                <div class="mr-5 flex align-items-center mt-3">
                    <i class='fas fa-user-alt'></i>
                    <span class="text-green-400"> &nbsp;data</span>
                </div>
                <div class="mr-5 flex align-items-center mt-3">
                    <i class='fas fa-user-cog'></i>
                    <span class="text-green-400"> &nbsp;data</span>
                </div>
            </div>
        </div>
        
        <div class="mt-3 lg:mt-0">
          <a [routerLink]="['/employee/add']">  <button pButton pRipple label="+ Ajouter" class="p-button-outlined mr-2" icon="pi pi-user-plus"></button></a>
        </div>
    </div>
  </div>


<div class="table-container">
    <p-table
        #dt3
        [value]="primes"
        dataKey="primeId"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
        [globalFilterFields]="['primeId', 'year', 'month', 'montant', 'motif', 'contact.name']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="header">
            <tr>
                <th>Année</th>
                <th>Mois</th>
                <th>Montant</th>
                <th>Raison</th>
                <th>Type Prime Id</th>
                <th>Actions</th>
                <th></th>
            </tr>
            <tr>
             
                <th>
                    <p-columnFilter type="text" field="year"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="month"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="montant"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="motif"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="typePrimeId"></p-columnFilter>
                </th>
                <th></th>
                <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prime>
            <tr>
               
                <td>{{ prime.year }}</td>
                <td>{{ prime.month }}</td>
                <td>{{ prime.montant }}</td>
                <td>{{ prime.motif }}</td>
                <td>{{ prime.typePrimeId }}</td>
                <td></td>
                <td>
                    <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editPrime(prime)"></i>
                    <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(prime.primeId)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Aucun nombre premier n’a été trouvé.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" (input)="dt3.filterGlobal(searchInput.value, 'contains')" placeholder="Mot-clé de recherche" style="width: 400px;" />
                </div>
            </div>
        </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation de suppression" icon="pi pi-info-circle"
        acceptButtonStyleClass="p-button-danger p-button-text"
        rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="none" rejectIcon="none">
    </p-confirmDialog>
    <p-toast></p-toast>
</div>
