<div class="table-container">
    <h1 class="gradient-text"> Liste des primes</h1>

    <div class=" flex justify-content-center" style="display: flex; justify-content: flex-end;">
        <button pButton [pTooltip]="tooltipContent" tooltipPosition="bottom" label="+" routerLink="/prime/add"></button>
        <ng-template #tooltipContent>
            <div class="flex align-items-center">
                <span><b>Ajouter un prime</b></span>
            </div>
        </ng-template>
    </div>

    <p-table
        #dt3
        [value]="primes"
        dataKey="primeId"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
        [globalFilterFields]="['primeId', 'year', 'month', 'montant', 'motif', 'contact.name']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Year</th>
                <th>Month</th>
                <th>Montant</th>
                <th>Raison</th>
                <th>Type Prime Id</th>
                <th>Actions</th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="primeId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="year"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="month"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="montant"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="motif"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="typePrimeId"></p-columnFilter>
                </th>
                <th></th>
                <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prime>
            <tr>
                <td>{{ prime.primeId }}</td>
                <td>{{ prime.year }}</td>
                <td>{{ prime.month }}</td>
                <td>{{ prime.montant }}</td>
                <td>{{ prime.motif }}</td>
                <td>{{ prime.typePrimeId }}</td>
                <td></td>
                <td>
                    <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editPrime(prime)"></i>
                    <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(prime.primeId)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Aucun nombre premier n’a été trouvé.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" (input)="dt3.filterGlobal(searchInput.value, 'contains')" placeholder="Mot-clé de recherche" style="width: 400px;" />
                </div>
            </div>
        </ng-template>
    </p-table>
    <p-confirmDialog header="Delete Confirmation" icon="pi pi-info-circle"
        acceptButtonStyleClass="p-button-danger p-button-text"
        rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="none" rejectIcon="none">
    </p-confirmDialog>
    <p-toast></p-toast>
</div>
