<!-- <div class="container">
    <h1 class="gradient-text">Modifier un employé</h1>
</div> -->

<app-employee-form #form [currentItemForm]="employee" *ngIf="employee"></app-employee-form>

<!-- <div class="buttons">
    <p-button label="Enregistrer" icon="pi pi-check" styleClass="custom-save-button" class="btn-save hover-scale boxed-button"  (click)="save()"></p-button>
</div> -->
<div class="">
    <div class="buttons">
        <button pButton label="Enregistrer" icon="pi pi-check" class="btn-save hover-scale boxed-button" (click)="save()"></button>
    </div>
</div>
<div class="messages-container">
    <p-messages [(value)]="messages" [enableService]="true" [closable]="false"></p-messages>
</div>
