body, .payslip {
	font-family: "Courier Prime", monospace;
	font-weight: 400;
	font-size: medium;
  }
  
  .payslip {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #888888;
	padding: 10px;
  }
  
  .header, .footer {
	text-align: center;
	margin-bottom: 10px;
	margin-left: 40%;
  }
  
  .header-line {
	display: flex;
	justify-content: center;
  }
  
  .company-name {
	font-weight: lighter !important;
	color: rgb(8, 111, 196);
	text-align: center;
  }
  
  .header-line span {
	font-weight: bold;
  }
  
  .sub-header {
	text-align: left;
	margin-bottom: 10px;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
  }
  
  table, th, td {
	border: 1px solid rgb(122, 122, 122);
  }
  
  th, td {
	padding: 5px;
	text-align: left;
  }
  
  .right-align {
	text-align: right;
  }
  
  .no-border {
	border: none;
  }
  
  .no-border td {
	border: none;
  }
  
  .right-column td {
	border: none;
	padding: 0;
  }
  
  .totals {
	border: none;
  }
  
  .totals td {
	border: none;
	text-align: right;
  }
  
  .totals .label {
	text-align: left;
  }
  