<div class="payslip" *ngIf="payslipData">
    
    <div class="header">
        <div class="header-line" >
          
          <span>STE.</span>
          <span class="company-name">{{payslipData.entrepriseNom}}</span>
       
        </div>
      </div>
  <div class="sub-header">
      CNSS: {{payslipData.entrepriseNumCnss}} &nbsp;  Matricule Fiscale : {{payslipData.entrepriseMatriculeFiscale}} &nbsp;&nbsp;<span style="margin-right: 10px;padding-left: 10px;"> Salaire Pour Mois : {{payslipData.month}}-{{payslipData.year}}</span>
  </div>
  <table>
      <tr>
          <th>MATRICULE</th>
          <th>NOM ET PRENOM</th>
          <th>FONCTION</th>
          <th>CAT</th>
          <th>GROUPE</th>
          <th>Grade</th>
          <th>N° Compte</th>
          <th>ENFANT</th>
          <th>MODE DE PAYEMENT</th>
      </tr>
      <tr>
          <td>{{payslipData.contactId}}</td>
          <td>{{payslipData.contactName}}</td>
          <td>employé</td>
          <td>{{payslipData.categoryLibele}}</td>
          <td>{{payslipData.groupeLibele}}</td>
          <td>{{payslipData.gradeLibele}}</td>
          <td>{{payslipData.numCompte}}</td>
          <td>{{payslipData.nbEnfant}}</td>
          <td>{{payslipData.modeDePaiement}}</td>
      </tr>
  </table>
  <table class="no-border">
      <tr>
          <td>Pay Slip || Bulletin de paie</td>
      </tr>
  </table>
  <table>

      <tr>
          <th>LIBELLES RUBRIQUES</th>
          <th>Nbre</th>
          <th>TAUX</th>
          <th>SAL & PRIME</th>
          <th>RETENUES</th>
      </tr>
            <tr>
          <td>Email</td>
          <td></td>
          <td>{{payslipData.contactEmail}}</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>NOMBRE DES HEURES TRAV</td>
          <td>{{payslipData.heurestravail}}</td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>Jours Fériés</td>
          <td>{{payslipData.joursFeries}}</td>
          <td></td>
          <td></td>
          <td></td>
      </tr>

      <tr>
          <td>SALAIRE MENSUEL</td>
          <td></td>
          <td></td>
          <td class="right-align">{{payslipData.salaireDeBASE}} (+) </td>
          <td></td>
      </tr>
      <tr *ngFor="let prime of payslipData.primes">
        <td>{{ prime.motif }}</td>
        <td></td>
        <td></td>
        <td class="right-align">{{ prime.montant }} (+)</td>
        <td></td>
      </tr>
      <!-- <tr>
          <td>SALAIRE BRUT</td>
          <td></td>
          <td></td>
          <td class="right-align">1 061,696</td>
          <td></td>
      </tr> -->
      <tr>
          <td>CNSS</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="right-align">97,463</td>
      </tr>
      <tr>
          <td>FAX</td>
          <td></td>
          <td></td>
          <td class="right-align">{{payslipData.Fax}}</td>
          <td></td>
      </tr>
      <tr>
          <td>I.R.P.P</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="right-align">{{payslipData.erpp}}(-)</td>
      </tr>
      <tr>
          <td>Contr.Sociale de solidarité</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="right-align">{{payslipData.css}}(-)</td>
      </tr>
      <!-- <tr>
          <td>Arrondi(+)</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="right-align">645</td>
      </tr>
      <tr>
          <td>Arrondi(-)</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="right-align">242</td>
      </tr> -->
      <tr class="totals">
          <td colspan="3"></td>
          <td class="label">NET A PAYER</td>
          <td>{{payslipData.salaireNet}}</td>
      </tr>
  </table>
</div>