<div class="container mt-5">
  <h1 class="gradient-text">Ajouter une autorisation </h1>

  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <div class="row">
  <div class="col-md-6">
  <div class="form-group">
  <label for="startDate">Date et heure de début :</label>
  <p-calendar formControlName="startDate" id="startDate" class="form-control" [showTime]="true" [showIcon]="true"></p-calendar>
  <small class="p-error" *ngIf="form.get('startDate')?.touched && form.get('startDate')?.hasError('required')">Date et heure de début est requise </small>
  </div>
  </div>
  
  <div class="col-md-6">
  <div class="form-group">
  <label for="endDate">Date et heure de fin :</label>
  <p-calendar formControlName="endDate" id="endDate" class="form-control" [showTime]="true" [showIcon]="true"></p-calendar>
  <small class="p-error" *ngIf="form.get('endDate')?.touched && form.get('endDate')?.hasError('required')">Date et heure de fin est requise</small>
  </div>
  </div>
  
  <div class="col-md-6">
  <div class="form-group">
  <label for="state">État:</label>
  <p-dropdown formControlName="state" id="state" [options]="stateOptions" optionLabel="label" placeholder="Selectionner un état " class="form-control"></p-dropdown>
  <small class="p-error" *ngIf="form.get('state')?.touched && form.get('state')?.hasError('required')">État est requis</small>
  </div>
  </div>
  
  
  <div class="col-md-6">
  <div class="form-group">
  <label for="employee">Employé:</label>
  <p-dropdown formControlName="contactId" [options]="employeeOptions" optionLabel="label" placeholder="Selectionner un employé" [showClear]="true" appendTo="body"></p-dropdown>
  <small class="p-error" *ngIf="form.get('contactId')?.touched && form.get('contactId')?.hasError('required')">Employé est requis</small>
  </div>
  </div>
  
  <div class="col-md-12">
  <p-button type="button" label="Envoyer" class="custom-save-button" (click)="onSubmit()"></p-button>
  </div>
  </div>
  </form>
  <div class="">
    <p-messages [(value)]="messages" [closable]="true"></p-messages>
  </div>
  <p-toast position="top-right"></p-toast>

  </div>