<p-dialog header="Edit Groupe" [(visible)]="displayEditDialog" [modal]="true" [style]="{ 'width': '400px' }">
    <div class="p-fluid">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="p-field">
                <label for="libele">Libele</label>
                <input id="libele" type="text" pInputText formControlName="libele"
                    [ngClass]="{ 'p-invalid': form.get('libele').invalid && form.get('libele').touched }" />
                <div class="p-error" *ngIf="form.get('libele').invalid && form.get('libele').touched">
                    Libele is required
                </div>
            </div>

            <div class="p-field">
                <button type="submit" pButton label="Save" class="p-button-success"></button>
            </div>
        </form>
    </div>
</p-dialog>
