<div class="surface-section border-round px-4 py-5 md:px-6 lg:px-8 mb-4 ">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer" [routerLink]="['/employee/details']">
            <i class="pi pi-home mr-0"></i> <!-- Ajoutez cette ligne pour l'icône de maison -->
            Application
          </a>
        </li>
    
        <li class="px-2">
          <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
          <a [routerLink]="['/employee/details']"> <span class="text-900 line-height-3"><i class="pi pi-exclamation-triangle
            "></i>
           Autorisations</span></a>
        </li>
    </ul>
      <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
          <div class="font-medium text-3xl text-900">Liste des Autorisations</div>
          <div class="flex align-items-center text-700 flex-wrap">
            <div class="mr-5 flex align-items-center mt-3">
              <i class='pi pi-exclamation-triangle
              '></i>
              <span class="text-green-400"> &nbsp; {{autorisations.length}} </span>&nbsp; &nbsp;Fiches calculées dans <span class="text-red-400"> &nbsp;{{currentyear}} &nbsp; </span>
            </div>
          </div>
        </div>
        
        <div class="mt-3 lg:mt-0">
          <a [routerLink]="['/salary/salary']"> <button pButton pRipple label="+ Ajouter" class="p-button-outlined mr-2"
              icon="pi pi-user-plus"></button></a>
        </div>
      </div>
    </div>
    <div class="table-container">

        <p-table #dt [value]="autorisations" dataKey="autorisationId" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
            [globalFilterFields]="['startDate', 'endDate', 'state', 'contactId']"
            [tableStyle]="{ 'min-width': '75rem' }">

            <ng-template pTemplate="header">
                <tr>

                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>
                <tr>

                    <th>
                        <p-columnFilter type="text" field="startDate"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="endDate"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="state"></p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-autorisation>
                <tr>

                    <td>{{ autorisation.dateDebut | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ autorisation.dateFin | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ autorisation.state }}</td>
                    <td>
                        <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)"
                            (click)="editItem(autorisation)"></i>
                        <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)"
                            (click)="deleteItem(autorisation.autorisationId)"></i>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">Aucune autorisation trouvée.</td>
                </tr>
            </ng-template>

        </p-table>
        <!-- Add the EditAutorisationComponent popup dialog -->
        <app-edit-autorisation [displayDialog]="displayDialog" [autorisation]="selectedAutorisation"
            (onSave)="saveAutorisation()" (onHide)="hideDialog()"></app-edit-autorisation>

        <p-confirmDialog header="Confirmation de suppression" icon="pi pi-info-circle"
            acceptButtonStyleClass="p-button-danger p-button-text" rejectButtonStyleClass="p-button-text p-button-text"
            acceptIcon="none" rejectIcon="none">
        </p-confirmDialog>
        <p-toast></p-toast>

    
</div>