<div class="container">
    <h1 class="gradient-text">Modifier une déduction</h1>
  </div>
  
  <app-deduction-form #form [currentItemForm]="deduction" *ngIf="deduction"></app-deduction-form>
  
  <div class="buttons">
    <p-button label="Enregistrer" icon="pi pi-check" styleClass="custom-save-button" class="btn-save" (click)="update()"></p-button>
  </div>
  
  <div class="">
    <p-messages [(value)]="messages" [enableService]="true" [closable]="true"></p-messages>
    <p-toast></p-toast>
  </div>
  