<div class="table-container">
  <h1 class="gradient-text">Liste des jours fériés</h1>

    <div class=" flex justify-content-center" style="display: flex; justify-content: flex-end;">
      <button pButton [pTooltip]="tooltipContent" tooltipPosition="bottom" label="+" (click)="showAddDialog()" style="margin-bottom: 30px;"></button>
      <ng-template #tooltipContent>
        <div class="flex align-items-center">
          <span><b> A jouter jour férié</b></span>
        </div>
      </ng-template>
    </div>
  
    <p-table
      #dt
      [value]="publicHolidays"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
      [globalFilterFields]="['libele', 'jour', 'mois']"
      [tableStyle]="{ 'min-width': '75rem' }">
  
      <ng-template pTemplate="header">
        <tr>
         
          <th>Libellée</th>
          <th>Jour</th>
          <th>Mois</th>
          <th>Actions</th>
        </tr>
        <tr>
     
          <th>
            <p-columnFilter type="text" field="libele"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="jour"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="mois"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-publicHoliday>
        <tr>
       
          <td>{{ publicHoliday.libele }}</td>
          <td>{{ publicHoliday.jour }}</td>
          <td>{{ publicHoliday.mois }}</td>
          <td>
            <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editItem(publicHoliday)"></i>
            <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(publicHoliday.id)"></i>
          </td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Aucun jour férié n’a été trouvé.</td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end align-items-center">
          <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #searchInput pInputText type="text" (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Mot-clé de recherche" style="width: 400px;" />
          </div>
        </div>
      </ng-template>
    </p-table>
  
    <!-- Edit Dialog -->
    <p-dialog header="Modifier le jour férié" [(visible)]="displayEditDialog" [modal]="true" [style]="{'max-width.px': '600', 'width.px': '800'}"(onHide)="hideEditDialog()">
        <app-edit-publicholiday
          [publicHoliday]="selectedPublicHoliday"
        ></app-edit-publicholiday>
      </p-dialog>
    <!-- Confirm Dialog for delete -->
    <p-confirmDialog header="Confirmation de suppression" icon="pi pi-info-circle"
      acceptButtonStyleClass="p-button-danger p-button-text"
      rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="pi pi-check" rejectIcon="pi pi-times">
    </p-confirmDialog>
  
    <!-- Add Dialog for new public holiday -->
    <p-dialog header="Ajouter un jour férié" [(visible)]="displayAddDialog" [modal]="true" [style]="{'max-width.px': '600', 'width.px': '800'}">
        <app-add-publicholiday></app-add-publicholiday>
      </p-dialog>
  
    <!-- Toast messages for notifications -->
    <p-toast></p-toast>
  
  </div>
  