<div class="container mt-5">
    <div class="section">
      <form [formGroup]="formDeduction" class="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="anneeId">Année :</label>
              <p-dropdown [options]="anneeOptions" formControlName="anneeId" id="anneeId" optionLabel="libele" optionValue="id" placeholder="Select an Annee"></p-dropdown>
              <small class="p-error" *ngIf="formDeduction.get('anneeId')?.touched && formDeduction.get('anneeId')?.hasError('required')">Année est requise</small>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="libelle">Libellé :</label>
              <input type="text" pInputText formControlName="libelle" id="libelle" class="form-control"/>
              <small class="p-error" *ngIf="formDeduction.get('libelle')?.touched && formDeduction.get('libelle')?.hasError('required')">Libellé est requis</small>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Déscription :</label>
              <textarea pInputTextarea formControlName="description" id="description" class="form-control"></textarea>
              <small class="p-error" *ngIf="formDeduction.get('description')?.touched && formDeduction.get('description')?.hasError('required')">Déscription est requise</small>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="etat">Etat :</label>
              <p-dropdown formControlName="etat" id="etat" [options]="etatOptions" placeholder="Sélectionner un état" [showClear]="true"></p-dropdown>
              <small class="p-error" *ngIf="formDeduction.get('etat')?.touched && formDeduction.get('etat')?.hasError('required')">Etat est requis</small>
            </div>
          </div>
          
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="typecalcul">Type Calcul:</label>
              <p-dropdown [options]="typeCalculOptions" formControlName="typecalcul" id="typecalcul"  placeholder="Select Type Calcul"></p-dropdown>
              <small class="p-error" *ngIf="formDeduction.get('typecalcul')?.touched && formDeduction.get('typecalcul')?.hasError('required')">Type calcul est requis </small>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="valeur">Valeur :</label>
              <input type="number" pInputText formControlName="valeur" id="valeur" class="form-control"/>
              <small class="p-error" *ngIf="formDeduction.get('valeur')?.touched && formDeduction.get('valeur')?.hasError('required')">Valeur est requise</small>
            </div>
          </div>
  
        </div>
      </form>
    </div>
  </div>
  