.form {
  background-color: #fff;
  padding: 50px 25px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between columns */
}

.col-md-6 {
  flex: 0 0 calc(50% - 20px); /* Adjust column width with gap */
  max-width: calc(50% - 20px); /* Adjust max-width with gap */
}

.form-group {
  display: grid;
}

input {
  width: 100%;
  height: 60px;
  text-align: left;
  border: 1px solid #e4e2e7;
  border-radius: 6px; /* Corrected border radius */
  margin-bottom: 30px;
  color: #7b777f; /* Corrected color value */
  font-family: 'Lexend Deca', sans-serif; /* Corrected font-family */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 32px 20px 10px;
  appearance: none;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.col-md-12 {
  width: 100%;
}

input:hover,
select:hover {
  border: 1px solid #3b82f6; /* Corrected color value */
}

select {
  width: 100%;
  height: 60px;
  text-align: left;
  border: 1px solid #e4e2e7;
  border-radius: 6px; /* Corrected border radius */
  margin-bottom: 30px;
  color: #7b777f; /* Corrected color value */
  font-family: 'Lexend Deca', sans-serif; /* Corrected font-family */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 32px 20px 10px;
  appearance: none;
  background: transparent;
  position: relative;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

label {
  margin-bottom: 10px;
  font-weight: 500;
}

.projectName {
  margin-top: 20px;
  font-weight: 500;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 15px;
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid blue;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

input::placeholder,
select::placeholder,
.inputNumber::placeholder {
  font-family: 'Roboto', sans-serif; /* Corrected font-family */
}

:host ::ng-deep .p-dropdown {
  width: 100%;
  height: 60px;
  text-align: left;
  border-radius: 6px;
  margin-bottom: 30px;
  color: #7b777f; /* Corrected color value */
  font-family: 'Lexend Deca', sans-serif; /* Corrected font-family */
  font-size: 16px; /* Adjusted font size */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  background: transparent;
  position: relative;
}
