<div class="table-container">
    <div class="card flex justify-content-center" style="display: flex; justify-content: flex-end;">
        <button pButton [pTooltip]="tooltipContent" tooltipPosition="bottom" label="+" routerLink="/resources/add"></button>
        <ng-template #tooltipContent>
            <div class="flex align-items-center">
                <span><b>Add resource</b></span>
            </div>
        </ng-template>
    </div>
    <p-table
        #dt3
        [value]="resources"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['firstName', 'lastName', 'email', 'phoneNumber', 'address', 'position', 'role', 'hireDate']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Position</th>
                <th>Role</th>
                <th>Hire Date</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-resource>
            <tr>
                <td>{{ resource.id }}</td>
                <td>{{ resource.firstName }}</td>
                <td>{{ resource.lastName }}</td>
                <td>{{ resource.email }}</td>
                <td>{{ resource.phoneNumber }}</td>
                <td>{{ resource.address }}</td>
                <td>{{ resource.position }}</td>
                <td>{{ resource.role }}</td>
                <td>{{ resource.hireDate }}</td>
                <td>
                    <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editItem(resource)"></i>
                    <i class="pi pi-eye  detailsIcon" (click)="showDetails(resource.id)"  pTooltip="Details" tooltipPosition="right"></i>
                    <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(resource.id)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="12">No resources found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" (input)="dt3.filterGlobal(searchInput.value, 'contains')" placeholder="Search keyword" style="width: 400px;" />
                </div>
            </div>
        </ng-template>
    </p-table>

    <p-confirmDialog header="Delete Confirmation" icon="pi pi-info-circle" acceptButtonStyleClass="p-button-danger p-button-text" rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="none" rejectIcon="none"></p-confirmDialog>
    <p-toast></p-toast>
</div>
