<p-dialog header="Modifier l’autorisation" [visible]="displayDialog" [responsive]="true" [style]="{ 'width': '600px', 'height': '700px' }"
  [modal]="true" [contentStyle]="{ 'overflow': 'auto' }">
  <ng-container *ngIf="autorisation">
    <div class="form-group">
      <label for="dateDebut">Date de début</label>
      <input id="dateDebut" pInputText type="text" [(ngModel)]="autorisation.dateDebut" class="form-control"
        placeholder="Start Date" />
    </div>
    <div class="form-group">
      <label for="dateFin">Date de fin</label>
      <input id="dateFin" pInputText type="text" [(ngModel)]="autorisation.dateFin" class="form-control"
        placeholder="End Date" />
    </div>
    <div class="form-group">
      <label for="contactId">Contact ID</label>
      <input id="contactId" pInputText type="text" [(ngModel)]="autorisation.contactId" class="form-control"
        placeholder="Contact ID" />
    </div>
    <div class="form-group">
      <label for="state">État</label>
      <p-dropdown id="state" [options]="stateOptions" [(ngModel)]="autorisation.state" placeholder="Sélectionner un état" class="form-control"></p-dropdown>
    </div>
  </ng-container>
  <p-footer>
    <button pButton type="button" label="Save" class="p-button-success" (click)="saveAutorisation()"></button>
    <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="hideDialog()"></button>
  </p-footer>
</p-dialog>