body {
    margin-top: 20px;
    background-color: #f2f6fc;
    color: #69707a;
}

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50%;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    border-radius: 0.35rem;
    background-color: #fff;
    border: 1px solid rgba(33, 40, 50, 0.125);
    margin-bottom: 1rem;
}

.card-body {
    padding: 1rem 1.35rem;
}

.card-header {
    font-weight: 500;
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem 0.35rem 0 0;
}

.form-control {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #363636;
    background-color: #d6d6d652;
    border: 1px solid #558fe0;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mb-3 {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.col-md-6, .col-xl-4, .col-xl-8 {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

.small {
    font-size: 0.875em;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.gx-3 {
    --bs-gutter-x: 1rem;
}

.icon {
    margin-right: 0.5rem;
    color: #007bff; /* Blue color for icons */
}

.label-with-icon {
    margin-bottom: 110px !important;
    font-weight: bold; /* Margin between label and input */
}