<div class="container">
    <h1 class="gradient-text">Liste des absences</h1>
</div>
<div class="table-container">
    <div class=" flex justify-content-center" style="display: flex; justify-content: flex-end;">
        <button pButton [pTooltip]="tooltipContent" tooltipPosition="bottom" label="+" routerLink="/absence/add"></button>
        <ng-template #tooltipContent>
            <div class="flex align-items-center">
                <span><b>Ajouter une absence</b></span>
            </div>
        </ng-template>
    </div>

    <p-table
        #dt3
        [value]="absences"
        dataKey="absenceId"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
        [globalFilterFields]="['contactId', 'dateDebutAbsence', 'dateFinAbsence', 'reason', 'justified']"
        [tableStyle]="{ 'min-width': '85rem' }">

        <ng-template pTemplate="header">
            <tr>
                
                <th>Contact ID</th>
                <th>Date Début Absence</th>
                <th>Date Fin Absence</th>
                <th>Raison</th>
                <th>Justifiée</th>
                <th>Actions</th>
            </tr>
            <tr>
              
                <th>
                    <p-columnFilter type="text" field="contactId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="dateDebutAbsence"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="dateFinAbsence"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="reason"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="justified"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-absence>
            <tr>
        
                <td>{{ absence.contactId }}</td>
                <td>{{ absence.dateDebutAbsence | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ absence.dateFinAbsence | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ absence.reason }}</td>
                <td>{{ absence.justified }}</td>
                <td>
                    <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editAbsence(absence)"></i>
                    <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(absence.absenceId)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Aucune absence trouvée</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" (input)="dt3.filterGlobal(searchInput.value, 'contains')" placeholder="Mot-clé de recherche" style="width: 400px;" />
                </div>
            </div>
        </ng-template>
    </p-table>
    <p-confirmDialog header="Delete Confirmation" icon="pi pi-info-circle"
    acceptButtonStyleClass="p-button-danger p-button-text"
    rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="none" rejectIcon="none">
</p-confirmDialog>
  <p-toast></p-toast>
</div>
