

<div class="surface-section border-round px-4 py-5 md:px-6 lg:px-8 mb-4 ">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <a class="text-500 no-underline line-height-3 cursor-pointer" [routerLink]="['/employee/details']">
          <i class="pi pi-home mr-0"></i> <!-- Ajoutez cette ligne pour l'icône de maison -->
          Application
        </a>
      </li>
  
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <a [routerLink]="['/absence/list']"> <span class="text-900 line-height-3"><i class="fa-regular fa-square-minus"></i>
         Absences</span></a>
      </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">Liste des absences</div>
        <div class="flex align-items-center text-700 flex-wrap">
          <div class="mr-5 flex align-items-center mt-3">
            <i class='fa-regular fa-square-minus'></i>
            <span class="text-green-400"> &nbsp; {{absences.length}} </span>&nbsp; &nbsp;Absences Pour l'année<span class="text-red-400"> &nbsp;{{currentYear}} &nbsp; </span>
          </div>
        </div>
      </div>
  
      <div class="mt-3 lg:mt-0">
        <a [routerLink]="['/absence/add']"> <button pButton pRipple label="+ Ajouter" class="p-button-outlined mr-2"
            icon="pi pi-user-plus"></button></a>
      </div>
    </div>
  </div>
<div class="table-container">


    <p-table
        #dt3
        [value]="absences"
        dataKey="absenceId"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
        [globalFilterFields]="['contactId', 'dateDebutAbsence', 'dateFinAbsence', 'reason', 'justified']"
        [tableStyle]="{ 'min-width': '85rem' }">

        <ng-template pTemplate="header">
            <tr>
                
                <th>Contact ID</th>
                <th>Date Début Absence</th>
                <th>Date Fin Absence</th>
                <th>Raison</th>
                <th>Justifiée</th>
                <th>Actions</th>
            </tr>
            <tr>
              
                <th>
                    <p-columnFilter type="text" field="contactId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="dateDebutAbsence"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="dateFinAbsence"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="reason"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="justified"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-absence>
            <tr>
        
                <td>{{ absence.contactId }}</td>
                <td>{{ absence.dateDebutAbsence | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ absence.dateFinAbsence | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ absence.reason }}</td>
                <td>{{ absence.justified }}</td>
                <td>
                    <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" (click)="editAbsence(absence)"></i>
                    <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(absence.absenceId)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Aucune absence trouvée</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" (input)="dt3.filterGlobal(searchInput.value, 'contains')" placeholder="Mot-clé de recherche" style="width: 400px;" />
                </div>
            </div>
        </ng-template>
    </p-table>
    <p-confirmDialog header="Delete Confirmation" icon="pi pi-info-circle"
    acceptButtonStyleClass="p-button-danger p-button-text"
    rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="none" rejectIcon="none">
</p-confirmDialog>
  <p-toast></p-toast>
</div>
