<div class="mb-2" *ngIf="ActiveUsers">
  <app-users-carousel></app-users-carousel>
</div>
<div class="surface-section border-round px-2 py-3 md:px-6 lg:px-8 mb-3  ">
  <ul class="list-none p-0 mt-0 mb-0 flex align-items-center font-medium " style="margin-bottom: 0px !important;">
    <li>
      <a class="text-500 no-underline  cursor-pointer" [routerLink]="['/']" style="font-size: 1.3em;">
        <!-- <i class="pi pi-home text-500 " style="font-size: 1.1em;"></i> Ajoutez cette ligne pour l'icône de maison -->
        <i class="fa-solid fa-house" style="font-size: 1.3em;padding-right: 3px;"></i>
        Application
      </a>
    </li>
    <li class="px-2" style="font-size: 1.5em;">
      <i class="pi pi-angle-right text-500 line-height-3" style="font-size: 1.1em;"></i>
    </li>
    <li>
      <a [routerLink]="['/employee/details']"><span class="text-blue-400"
          style="font-size: 1.3em;">Analyse</span></a>
    </li>
  </ul>
  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
    <div>
      <div class="font-medium text-3xl text-900 " style="margin-top: 0px !important;">Employés</div>
      <div class="flex align-items-center text-700 flex-wrap">
        <div class="mr-5 flex align-items-center mt-1">
          <i class="pi pi-users mr-2"></i>
          <span>{{this.ActiveUsers.length}} Utilisateurs Actifs</span>
        </div>
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <a [routerLink]="['/employee/add']"> <button pButton pRipple label="+ Ajouter"
          class="p-button-outlined mr-2 hover-scale" icon="pi pi-user-plus"></button></a>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Employés</span>
          <div class="text-900 font-medium text-xl">{{employeeCountThisYear }} </div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <a [routerLink]="['/employee/list']" class="dashboard-nav-item">
            <i class="pi pi-user text-blue-500 text-xl" style="cursor: pointer;"></i>
          </a>
        </div>
      </div>
      <span class="text-green-500 font-medium"> {{ employeeCountThisYear }}-Nouveau &nbsp; </span>
      <span class="text-400 font-medium">Employés Ajoutés cette année <span class="text-red-500 font-bold">{{ sinceYearText
          }}</span> </span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Nombre Des Absences</span>
          <div class="text-900 font-medium text-xl">{{ absenceCount }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <a [routerLink]="['/absence/list']" class="dashboard-nav-item">
            <i class="pi pi-user-minus text-orange-500 text-xl" style="cursor: pointer;"></i>
          </a>
        </div>

      </div>
      <span class="text-green-500 font-medium">
        {{ percentageChange > 0 ? '+' + percentageChange + '%' : (percentageChange < 0 ? percentageChange + '%'
          : 'No change' ) }} <span class="text-400 font-medium">{{ changeText }}</span>
      </span>
      <span class="text-red-500 font-bold">{{ prevyear }}</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Conges En Attente</span>
          <div class="text-900 font-medium text-xl">{{ pendingCongeCount }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <a [routerLink]="['/conges/list']" class="dashboard-nav-item">
            <i class="pi pi-calendar text-orange-500 text-xl " style="cursor: pointer;"></i>
          </a>
        </div>

      </div>
      <span class="text-green-500 font-medium">
        {{pendingCongeCount}} demeure en attente
      </span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Moyenne des Salaire Base</span>
          <div class="text-900 font-medium text-xl">{{ averageBaseSalary | currency:'USD':true:'1.2-2' }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-money-bill text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">
        {{ averageBaseSalary | currency:'USD':true:'1.2-2' }}
      </span><span class="text-400">est La Salaire Moyenne Pour </span>

      <span class="text-red-500 font-bold">{{ sinceYearText }}</span>
    </div>
  </div>


  <div class="col-12 xl:col-6">
    <div class="card ">
      <p-chart type="bar" [data]="data" [options]="options" />
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <p-chart type="line" [data]="data" [options]="options" />
    </div>
  </div>

  <div class="col-12 xl:col-6">
    <div class="card">
      <div class="container">
        <!-- List of events -->
        <div class="events-list">
          <ul>
            <li *ngFor='let event of publicHolidays'>
              <b>{{ event.libele }}</b> - {{ formatDate(event.jour, event.mois) }}
            </li>
          </ul>
        </div>
        <!-- Full calendar -->
        <div class="calendar-container">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>

    </div>
  </div>

</div>
<p-dialog header="Event Details" [(visible)]="displayEventDialog" [style]="{ 'width': '25rem'}"
  [styleClass]="'custom-dialog'">
  <ng-template pTemplate [ngStyle]="{background:'blue'}">

    <div style="background-color: rgba(172, 144, 248, 0.226);border-radius: 5px;">
      <p>{{ selectedEvent.title }}</p>
      <p>Date: {{ formattDate(selectedEvent.start) }}</p>
      <!-- Add more information as needed -->
    </div>
  </ng-template>
</p-dialog>

<p-toast></p-toast>

<!-- Other content of EmployeeDetailsComponent -->

<p-dialog header="Motivational Quote" [(visible)]="displayMotivationalQuoteDialog" [modal]="true"
  [style]="{ 'width': '400px' }">
  <ng-template pTemplate>
    <div>
      <p>{{ motivationalQuote.q }}</p>
      <p>{{ motivationalQuote.a }}</p>
    </div>
  </ng-template>
</p-dialog>