<div class="container">
  <!-- Employee Information Section -->
  <div class="section">
    <h2><i class="fas fa-user"></i> Employee Information</h2>
    <div class="info">
      <div><i class="fas fa-user"></i> Name: {{ employee.name }}</div>
      <div><i class="fas fa-at"></i> Email: {{ employee.email }}</div>
      <div><i class="fas fa-map-marker-alt"></i> Location: {{ employee.location }}</div>
      <!-- Add more employee information here -->
    </div>
  </div>

  <!-- Children Section -->
  <div class="section">
    <h2><i class="fas fa-child"></i> Children</h2>
    <div class="children">
      <div *ngFor="let child of employee.enfants">
        <div><i class="fas fa-child"></i> Name: {{ child.name }}</div>
        <div><i class="fas fa-birthday-cake"></i> Age: {{ child.age }}</div>
        <!-- Add more child information here -->
      </div>
    </div>
  </div>

  <!-- Absences Section -->
  <div class="section">
    <h2><i class="fas fa-calendar-times"></i> Absences</h2>
    <div class="absences">
      <div *ngFor="let absence of employee.absences">
        <div><i class="fas fa-calendar-times"></i> Reason: {{ absence.reason }}</div>
        <div><i class="far fa-calendar-alt"></i> Start Date: {{ absence.dateDebutAbsence | date }}</div>
        <!-- Add more absence information here -->
      </div>
    </div>
  </div>

  <!-- Charts Section -->
  <div class="section charts-section">
    <h2><i class="fas fa-chart-bar"></i> Charts</h2>
    <div class="chart-container">
      
      <div class="section">
        <div  class="" [chart]="chart1"></div>
      </div>
      
      <!-- Primes Chart -->
      <canvas id="primesChart" class="chart"></canvas>
    </div>
  </div>
  <div class="section">
    <h2><i class="fas fa-calendar-check"></i> Autorisations</h2>
    <div class="autorisations">
      <!-- Canvas for Chart -->
      <canvas id="myChart" class="chart"></canvas>
      
      <!-- List of Autorisations -->
      <div *ngFor="let autorisation of employee.autorisations">
        <div><i class="fas fa-calendar-check"></i> Date: {{ autorisation.dateDebut }}</div>
        <div><i class="fas fa-info-circle"></i> Description: {{ autorisation.state }}</div>
        <!-- Add more autorisation information here -->
      </div>
    </div>

    

</div>
