.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  flex: 1 1 auto; /* Allow sections to grow and shrink */
  min-width: 250px; /* Minimum width for each section */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.section h2 {
  margin-bottom: 10px;
}

.info, .children, .absences {
  margin-left: 20px; /* Adjust indentation for nested sections */
}

.info div, .children div, .absences div {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.info i, .children i, .absences i {
  margin-right: 10px;
}

.charts-section {
  flex-basis: 100%; /* Take up full width */
}

.chart-container {
  display: flex;
  justify-content: space-between;
}

.chart {
  width: calc(50% - 10px); /* 50% width with spacing */
  max-width: 200px; /* Set the maximum width to prevent excessive stretching */
  height: 150px; /* Set a fixed height for the charts */
}
