<div class="table-container">
    <h1 class="gradient-text">Liste des enfants</h1>

    <div class=" flex justify-content-center" style="display: flex; justify-content: flex-end;">
        <button pButton [pTooltip]="tooltipContent" tooltipPosition="bottom" label="+" routerLink="/enfant/add"></button>
        <ng-template #tooltipContent>
            <div class="flex align-items-center">
                <span> <b>Ajouter un enfant</b> </span>
            </div>
        </ng-template>
    </div>

    <p-table
        #dt3
        [value]="enfants"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Affichage de {first} à {last} des entrées {totalRecords}"
        [globalFilterFields]="['name', 'familyName', 'age', 'disabled','bourse', 'educationGrade']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="header">
            <tr>
               
                <th>Nom</th>
                <th>Nom de famille</th>
                <th>Âge</th>
                <th>Handicapé</th>
                <th>Bourse</th>
                <th>Niveau d’éducation</th>
                <th>Contact ID</th>
                <th>Actions</th>
            </tr>
            <tr>
             
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="familyName"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="age"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="disabled"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="Bourse"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="educationGrade"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="contactId"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-enfant>
            <tr>
             
                <td>{{ enfant.name }}</td>
                <td>{{ enfant.familyName }}</td>
                <td>{{ enfant.age }}</td>
                <td>{{ enfant.disabled }}</td>
                <td>{{enfant.bourse}}</td>
                <td>{{ enfant.educationGrade }}</td>
                <td>{{ enfant.contactId }}</td>
                <td>
                    <!-- Updated router link for editing -->
                    <i class="pi pi-pencil" style="font-size: 1.9rem; color: rgb(98, 0, 255)" [routerLink]="['/enfant/edit', enfant.id]"></i>
                    <i class="pi pi-trash" style="font-size: 1.9rem; color: rgb(255, 72, 0)" (click)="deleteItem(enfant.id)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Aucune enfant n’a été trouvée.</td><td></td>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" (input)="dt3.filterGlobal(searchInput.value, 'contains')" placeholder="Mot-clé de recherche" style="width: 400px;" />
                </div>
            </div>
        </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation de suppression" icon="pi pi-info-circle"
    acceptButtonStyleClass="p-button-danger p-button-text"
    rejectButtonStyleClass="p-button-text p-button-text" acceptIcon="none" rejectIcon="none">
</p-confirmDialog>
  <!-- Add the EditEnfantComponent popup dialog -->
 <!--<app-edit-enfant
    [displayDialog]="displayEditDialog"
    [selectedEnfant]="selectedEnfant"
    (onSave)="saveEditedEnfant()"
    (onHide)="hideEditDialog()"
  ></app-edit-enfant>--> 
    <p-toast></p-toast>
</div>
