.form {
  background-color: #fff;
  padding: 50px 25px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between columns */
}

.col-md-6 {
  flex: 0 0 calc(50% - 20px); /* Adjust column width with gap */
  max-width: calc(50% - 20px); /* Adjust max-width with gap */
}

.form-group {
  display: grid;
}

input, select {
  width: 100%;
  height: 60px;
  text-align: left;
  border: 1px solid #e4e2e7;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 20px 32px 20px 10px;
  background: transparent;
  color: var(--gris-1-dbarras, #7b777f);
  font-family: Lexend Deca;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  transition: border-color 0.2s;
}

label {
  margin-bottom: 10px;
  font-weight: 500;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 14px;
}

.messages-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
:host >>> .p-button {
  width: 150px;
  margin-left: 40%;
}
.input-group-prepend i {
  color: rgb(28, 143, 238);
  margin-right: 5px;
}