<!-- <div class="container mt-5">
    <form>
      <div class="form-group">
        <label for="reasonForStop">Raison de l'arrêt :</label>
        <input type="text" class="form-control" id="reasonForStop" [(ngModel)]="reasonForStop" placeholder="Entrez la raison de l'arrêt" required>
        <div *ngIf="!isStopButtonDisabled && !reasonForStop" class="text-danger mt-1">
          La raison de l'arrêt est obligatoire.
        </div>
      </div>
      <button type="button" class="btn btn-primary" [disabled]="isStopButtonDisabled || !reasonForStop" (click)="stopStopwatch()">Arrêter</button>
    </form>
  </div>
   -->


   <div class="card flex justify-content-center" >
   
    <div class="flex flex-wrap gap-3">
        <div class="flex-auto">
            <label for="hex" class="font-bold block mb-2"> Hex </label>
            <input pInputText id="hex" pKeyFilter="hex" class="w-full" />
        </div>
        <div class="flex-auto">
            <label for="alphabetic" class="font-bold block mb-2"> Alphabetic </label>
            <input pInputText id="alphabetic" pKeyFilter="alpha" class="w-full" />
        </div>
        <div class="flex-auto">
            <label for="alphanumeric" class="font-bold block mb-2"> Alphanumeric </label>
            <input pInputText id="alphanumeric" pKeyFilter="alphanum" class="w-full" />
        </div>
    </div>
</div>


<div class="card flex justify-content-center">
    <p-card header="Title">
       <div class="flex flex-wrap gap-3 mb-4">
        <div class="flex-auto">
            <label for="integer" class="font-bold block mb-2"> Integer </label>
            <input pInputText id="integer" pKeyFilter="int" class="w-full" />
        </div>
        <div class="flex-auto">
            <label for="number" class="font-bold block mb-2"> Number </label>
            <input pInputText id="number" pKeyFilter="num" class="w-full" />
        </div>
        <div class="flex-auto">
            <label for="money" class="font-bold block mb-2"> Money </label>
            <input pInputText id="money" pKeyFilter="money" class="w-full" />
        </div>
    </div>
    </p-card>
</div>
<p-card header="Title">
    <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
</p-card>